{% load static %}
<!DOCTYPE html>
<html lang="en">
<!-- Home Page -->

<!-- Header -->
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{%endblock%}</title>
    <link href="{% static 'css/style.css' %}" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@24,400,0,0&icon_names=apps" />
</head>

<!-- Body -->
<body> 

    <div class="wrapper">

        <nav class="navbar">
            <div class="right-navbar">
                <a href="">Gmail</a>
                <a href="">Images</a>

                <span class="material-symbols-outlined">
                    apps
                </span>

                <button class="sign-in-btn">Sign in</button>
            </div>
        </nav>

        <main>
            {% block main_content %}


            {% endblock %}
    
        </main>
    </div>

    <!-- Footer -->
 <footer>

    <div class="footer-top">
        <a href="">Saudi Arabia</a>
    </div>

    <div class="footer-bottom">

        <div class="left-footer-nav">
            <a href="#">About</a>
            <a href="#">Advertising</a>
            <a href="#">Business</a>
            <a href="#">How Search works</a>
        </div>

        <div class="right-footer-nav">
            <a href="#">Privacy</a>
            <a href="#">Terms</a>
            <a href="#">Settings</a>
        </div>

    </div>
</footer>
</body>
</html>

